body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
  padding: 0 4rem;
}
input{
  margin-bottom: 0.5rem;
  padding:0.5rem ;
  width:100%;
  outline: none;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  background-color: #1b262c;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #cf1b1b;
  transition: .6s;
}